<main class="container">
    <h2>Cadastro de Produtos</h2>
    <form class="form-create-product" id="myForm">
        <input type="text" name="title" id="title" placeholder="Digite o nome do produto" required>
        <textarea type="text" name="description" id="description" placeholder="Digite a descrição do produto"
            rows="5" cols="33" required></textarea>
        <div class="row">
            <input type="number" name="stock" id="stock" placeholder="Digite a quantidade do produto"
                required>
            <select name="category" id="category" required>
                <option value="">Selecione uma categoria</option>
                <option value="Hardware">Hardware</option>
                <option value="Periféricos">Periféricos</option>
                <option value="Computadores">Computadores</option>
                <option value="Consoles">Consoles</option>
                <option value="Geek">Geek</option>
                <option value="Eletrodomesticos">Eletrodomésticos</option>
                <option value="Eletronicos">Eletrônicos</option>
                <option value="Tv">TV</option>
            </select>
            <input type="text" name="price" id="price" placeholder="1.345,56" required>
            <button class="btn-submit" type="submit">Cadastrar</button>
        </div>
    </form>
    <h2 class="table-title">Listagem de Produtos</h2>
    <table class="table" id="products">
        <thead>
            <tr>
                <th scope="col" class="table-col-code">Código</th>
                <th scope="col" class="table-col-title">Nome</th>
                <th scope="col" class="table-col-description">Descrição</th>
                <th scope="col" class="table-col-category">Categoria</th>
                <th scope="col" class="table-col-stock">Quantidade</th>
                <th scope="col" class="table-col-price">Preço</th>
                <th scope="col" class="table-col-actions">Ações</th>
            </tr>
        </thead>
    </table>
</main>